#accordion ul, ul li
{
	list-style: none;
}

#accordion ul
{
	margin-bottom: 1em;
}

#course_map_block li {
	text-align: left;
	clear: both;
	width: 100%;
	font-weight: normal;
	padding-top: 0;	
}

#course_map_block li a {
	text-decoration: none;
	color: white;
}

#course_map_block li:nth-child(1) {
	border-bottom: none;
}

#course_map_block li:nth-child(2) {
	border-bottom: none;
}

#course_map_block li:nth-child(3) {
	border-bottom: none;
}

#course_map_block li:last-child {
	border-bottom: none;
}

#accordion ul.text 
{
	margin-bottom: 1em; 
	line-height: 1.5em;
}

#accordion .text-center 
{
	text-align: center;
}

#accordion h2 
{
	font: normal 26px Arial, sans-serif; 
	padding: 20px 0; 
	margin: 0 0 30px 0;
}

#accordion .wrap 
{
	width: 960px; 
	margin: 0 auto;
}

#accordion .demo-container 
{
	padding: 1em; 
	clear: both;
}

#accordion .demo-container h4 
{
	font-size: 14px; margin: 0 0 5px 0;
}

#accordion .clear 
{
	clear: both;
}

#accordion .dcjq-count 
{
	float: right;
}

/*ADDED*/

#accordion .sub
{
	padding-left: 2em;
}

.dcjq-parent-li .sub:nth-child(1) {
	margin-top: 1em;
}