@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********************   END RESET   ************** */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #333;
	overflow: hidden;
	background-image: url("../images/ipad_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#wrapper {
	width: 100%;
}

/* ********************   MENU BAR   ************** */

#menu_bar {
	width: 100%;
	height: auto;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
}

#menu_bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu_bar li {
	text-align: center;
	float: left;
	display: block;
    width: 25%; /* Change to 20% when metrics is implemented*/
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
}


.triangle {
	margin-left: 1em;
}

.expanded {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.collapsed {	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#menu_bar li:nth-child(1) {
	border-bottom: solid 3px #00a79d;
}

#menu_bar li:nth-child(2) {
	border-bottom: solid 3px #8cc63e;
}

#menu_bar li:nth-child(3) {
	border-bottom: solid 3px #f7931d;
}

#menu_bar li:last-child {
	border-bottom: solid 3px #d91b5b;
}

#course_map_block {
	width: 50%;
	background-color: rgba(0,0,0,.8);
	border-bottom: solid 3px #00a79d;
	overflow-y: auto;
	color: white;
	padding: 2em;
	position: absolute;
	top: 3.2em;
	max-height: 25em;
}

#transcript_block {
	width: 50%;
	background-color: rgba(0,0,0,.8);
	border-bottom: solid 3px #8cc63e;
	overflow-y: auto;
	color: white;
	margin-left: 25%;
	padding: 2em;
	position: absolute;
	max-height: 25em;
	top: 3.2em;
}

#resources_block {
	background-color: rgba(0,0,0,.8);
	border-bottom: solid 3px #f7931d;
	width: 50%;
	overflow-y: auto;
	color: white;
	margin-left: 30%;
	padding: 2em;
	position: absolute;
	top: 3.2em;
}

#help_block {
	width: 100%;
	height: 100%;
	/*background-image: url("../images/help_slide.png");*/
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	top: 3.2em;
	position: absolute;
	overflow:hidden;
}

#user_info_block {
	width: 50%;
}

#resources_block a {
	color: white;
	display: block;
	text-decoration: none;
	margin-bottom: 1em;
}

#transcript_block h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em;
}

.bottom-out {
	border-bottom: none !important;	
}

/* ********************   HELP LESSON   ************** */

#help_page1, #help_page2, #help_page3 {
	width: 100%;
	height: 100%;
	font-size: 1.1em;
	position: absolute;
	top: 3.2em;
	text-align: center;
}

#help_block p {
	margin-top: 1em;
}

#help_page1 img {
	width: 5em;
}

#help_page3 img {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

#help_page1 {
	left: 0;
}

#help_page2 {
	left: 100%;
}

#help_page3 {
	left: 100%;
}

/* Help page 1 */
/* Swipe right */
help_instruction0 {
	position: absolute;
	top: 5%;
	left: 40%;
	width: 20em;
}

#help_instruction1 {
	position: absolute;
	top: 10%;
	left: 2em;
}

/* Swipe left */
#help_instruction2 {
	position: absolute;
	top: 10%;
	right: 2em;
}

/* Tap */
#help_instruction3 {
	position: absolute;
	top: 40%;
	left: 35%;
}

/* Help page 2 */
/* Course Map */
#help_instruction4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 20em;
}

/* Transcript */
#help_instruction5 {
	position: absolute;
	top: 8%;
	left: 20%;
	width: 20em;
}

/* Resources */
#help_instruction6 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 20em;
}

/* User Info */
#help_instruction7 {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 20em;
}

/* Help */
#help_instruction8 {
	position: absolute;
	top: 8%;
	left: 70%;
	width: 20em;
}

/* Help page 3 */
/* Slide title */
#help_instruction9 {
	position: absolute;
	bottom: 25%;
	left: 2em;
}

/* Slider controls */
#help_instruction10 {
	position: absolute;
	bottom: 20%;
	left: 30%;
	width: 20em;
}

/* Slide count */
#help_instruction11 {
	position: absolute;
	bottom: 25%;
	right: 2em;
}

/* ********************   CONTENT FRAME   ************** */

#content_frame {
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content_window {
	position: absolute;
	/*top: 3em;*/
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* ********************   FOOTER/CONTROLS   ************** */

#controls_bar {
	width: 100%;
	height: 3.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.25);
}

#controls_bar h3 {
	position: absolute;
	bottom: 1em;
	color: white;
	font-size: 1em;
	font-family:Verdana, Geneva, sans-serif;
}

#controls_bar h3:first-child {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

#controls_bar h3:last-child {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

#slider {
	position: absolute;
	left: 40%;
	bottom: .5em;
	text-align: center;
}

#sliderBar {
	width: 25em;	
}

input[type="range"] {
	color: rgba(0,0,0,0);
	-webkit-appearance: none;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 2em;	
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 1em;
	background-color: white;
	cursor: pointer;
	height: 2em;
	width: 2em;
}