@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********************   END RESET   ************** */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #333;
	overflow: hidden;
}

#wrapper {
	width: 100%;
}

/* ********************   MENU BAR   ************** */

#menu_bar {
	width: 100%;
	height: auto;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
}

#menu_bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu_bar li {
	text-align: center;
	float: left;
	display: block;
    width: 25%; /* Change to 20% when metrics is implemented*/
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
}

#menu_bar li:nth-child(1) {
	background-color: #ff3333;
}

#menu_bar li:nth-child(2) {
	background-color: #33ff33;
}

#menu_bar li:nth-child(3) {
	background-color: #3333ff;
}

#menu_bar li:last-child {
	background-color: #33dddd;
}

#course_map_block {
	width: 50%;
	background-color: #ff3333;
	overflow-y: auto;
	color: white;
	padding: 2em;
	position: absolute;
	top: 3em;
	max-height: 25em;
}

#transcript_block {
	width: 50%;
	background-color: #33ff33;
	overflow-y: auto;
	color: white;
	margin-left: 25%;
	padding: 2em;
	position: absolute;
	top: 3em;
}

#resources_block {
	background-color: #3333ff;
	width: 50%;
	overflow-y: auto;
	color: white;
	margin-left: 30%;
	padding: 2em;
	position: absolute;
	top: 3em;
}

#help_block {
	background-color: #33dddd;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	color: white;
	padding: 2em;
	position: absolute;
	top: 3em;
}

#user_info_block {
	width: 50%;
}

#resources_block a {
	color: white;
	display: block;
	text-decoration: none;
	margin-bottom: 1em;
}

/* ********************   CONTENT FRAME   ************** */

#content_frame {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content_window {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* ********************   FOOTER/CONTROLS   ************** */

#controls_bar {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	padding: 1.5em;
	background-color: rgba(0,0,0,.25);
}

#controls_bar h3 {
	display: inline;
	color: white;
	font-size: 1.2em;
	font-family:Verdana, Geneva, sans-serif;
}
#controls_bar h3:first-child {
	margin-right: 20em;
}